<turbo-frame id="dashboard-new">
  <div class="w-full h-full p-16">
    <%= link_to dashboards_path, class: "absolute border border-blue-500 hover:bg-blue-400 hover:cursor-pointer text-blue-500 font-bold p-2 right-2 top-2 rounded-full inline-flex items-center justify-center h-8 w-8" do %>
      <i class="fa-solid fa-xmark text-blue-500"></i>
    <% end %>
    <%= render 'form' %>
  </div>
</turbo-frame>